<table class="table table-striped jokes">
  <tbody>
    <% @jokes.each do |joke| -%>
      <tr id="<%= dom_id(joke) %>">
        <td>
          <% joke = exhibit(joke) %>
          <strong><%= joke.title %></strong> &mdash; <%= joke.tags.render(self) %> <%= truncate(inline_images(joke.body)) %>
          <div class="hidden" data-toggle="<%= dom_id(joke) %>">
            <%= simple_format(inline_images(joke.body)) %>
            <h4>PouÄenie</h4>
            <%= simple_format(joke.advice) %>
          </div>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>
