<div id="<%= dom_id(joke) %>" class="joke-preview">
  <strong><%= joke.title %></strong> <%= stars(joke.rating) %> &mdash; <%= joke.tags.render(self) %> <span class="muted"><%= truncate(joke.body, length: 200) %></span>
</div>
