<div class="joke-detail">
  <div class="tags">
    <% joke.tags.each do |tag| %>
      <span class="label label-info"><%= link_to tag.label, search_jokes_path(q: tag.label) %></span>
    <% end -%>
  </div>

  <%= joke.formatted_body %>
  <h4>PouÄenie</h4>
  <%= joke.advice %>

  <div class="well">
    <h6>Hodnotenie pani profesorky</h6>
    <p class="rating">
      <% (1..5).each do |rating| %>
        <%= radio_button_tag "rating_#{joke.id}", rating, rating == joke.rating, class: 'stars-static' %>
      <% end -%>
      <span class="comment"><%= joke.comment %></span>
    </p>
  </div>
</div>
