<!DOCTYPE html>
<html>
  <head>
    <title>Psina</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrap">
      <div class="container">
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <%= link_to 'PSIna', root_path, class: 'brand' %>
            <ul class="nav">
              <li class="active"><%= link_to 'Vtipy', jokes_path %></li>
              <li><%= link_to 'Pridaj nový vtip', new_joke_path %></li>
            </ul>
            <%= render 'system/search' %>
          </div>
        </div>

        <% if flash[:alert] %>
          <div class="alert alert-error"><%= flash[:alert] %></div>
        <% end -%>

        <% if flash[:notice] %>
          <div class="alert alert-success"><%= flash[:notice] %></div>
        <% end -%>


        <%= yield %>
      </div>
      <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="credit">Postavené na <a href="http://rubyonrails.org">Ruby on Rails</a>, <a href="http://postgresql.org">PostgreSQL</a> a <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a></p>
      </div>
    </div>

    <script>
      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/player_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    </script>
  </body>
</html>
